html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1.5rem;
}

.App {
  width: 100rem;
  margin: 20rem auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
  font-family: "Inter";
  font-weight: 500;
  color: #032514;
}
ul {
  list-style-type: none;
  margin-bottom: 3rem;
  /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25); */
  border-radius: 8px;
  padding: 4px 8px;
}
.sidebar,
.splitting-bill-form {
  padding: 3rem 6rem;
  border-radius: 8px;
  /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25); */
}

.li-friends {
  width: 40rem;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: repeat(3, auto); /* ili koliko redova već imaš */
  gap: 0.3rem;
  margin-bottom: 1rem;
  align-items: start;
  font-weight: 400;
  transition: all 0.3s;
  padding: 4px 8px;
  border-radius: 8px;
}

.li-friends:hover {
  background-color: #e3f8ed;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

li img {
  grid-row: 1/3;
  align-self: center;
  border-radius: 50%;
}
li button {
  grid-column: 3;
  grid-row: 1/4;
  align-self: center;
  justify-self: center;
}

li label {
  align-self: center;
  justify-self: start;
}

button {
  border-radius: 9px;
  padding: 6px 12px;
  transition: all 0.3s;
  background-color: #baf9de;
  border: 2px solid #9cf6cf;
}
button:hover {
  cursor: pointer;
}
.custom-friend {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  gap: 0.3rem;
  margin-bottom: 2.5rem;
  background-color: #e3f8ed;

  padding: 8px 16px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.custom-friend button {
  grid-column: 2;
  grid-row: -1/-3;
  justify-self: center;
  align-self: center;
}
.custom-friend input {
  justify-self: start;
  padding: 4px 8px 4px 8px;
  width: 15rem;
}

input {
  border: 2px solid #9cf6cf;
  width: 10rem;
  padding: 4px 8px;
  text-align: center;
  border-radius: 8px;
}

.red {
  color: red;
}
.green {
  color: green;
}

/* RIGHT SIDE OF THE INTERFACE  */

.splitting-bill-form {
  max-height: 400px;
  display: grid;
  grid-template-columns: auto auto;
  transition: all 1s;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  background-color: #e3f8ed;
}
.splitting-bill-form h3 {
  grid-column: 1/3;
  font-size: 1.8rem;
}

.splitting-bill-form h3,
label,
input,
select {
  align-self: center;
}
svg {
  height: 1.8rem;
  translate: 0 3px;
  margin-right: 1rem;
}

.splitting-bill-form label {
  width: 23rem;
}

.splitting-bill-form button {
  grid-column: -3/-1;
  justify-self: center;
  align-self: center;
}

.splitting-bill-form button:hover {
  transform: scale(110%);
}
